<div class="jumbo light">
  <div class="row">
    <div class="small-12 medium-12 column">
      <h2>Información de los Procesos Participativos descritos en la Ley</h2>
      <p>Enlace al texto de la Ley 7/2017, de 27 de diciembre, de Participación Ciudadana de Andalucía  - <a href="https://www.juntadeandalucia.es/boja/2018/4/1">https://www.juntadeandalucia.es/boja/2018/4/1</a></p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <ul class="menu-pages" data-magellan>
        <li>
          <%= link_to "Deliberación Participativa", "#deliberacion", class: "button hollow expanded" %>
        </li>
          <li>
            <%= link_to "Presupuestos Participativos", "#presupuestos", class: "button hollow expanded" %>
          </li>
        <li>
          <%= link_to "Proposición de políticas públicas", "#proposicion", class: "button hollow expanded" %>
        </li>
        <li>
          <%= link_to "Seguimiento y evaluación de las políticas públicas", "#politicas_publicas", class: "button hollow expanded" %>
        </li>
        <li>
          <%= link_to "Consultas Populares", "#consultas", class: "button hollow expanded" %>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-12 large-12 column">
      
      <div class="row section-content">
        <div class="small-12 column">
          <h3 id="deliberacion" data-magellan-target="deliberacion">
            1. Deliberación Participativa
          </h3>
          <p>
            En esta sección se realizarán los procesos de Deliberación Participativa, estos son procesos de contraste de argumentos y motivaciones expuestos en un debate público integrado en un procedimiento de decisión o de formulación o adopción de una política pública en el que se abre un espacio por parte de los órganos competentes de la Administración pública andaluza para conocer los intereses, posiciones y propuestas de la ciudadanía y en los siguientes supuestos:
          </p>
          <ul class="features">
            <li>
              Proposición, adopción, seguimiento y evaluación de las políticas públicas con singular impacto o relevancia.
            </li>
            <li>
              La elaboración de instrumentos de planificación para la determinación de las políticas.
            </li>
          </ul>
        </div>
        <div class="small-12 text-center">
          <% if feature?("debates") %>
            <%= link_to t("layouts.header.debates"),
                              debates_path,
                              title: t("shared.go_to_page") + t("layouts.header.debates"),
                              class: "button" %>
          <% end %>
        </div>
      </div>
      <div class="row section-content">
        <div class="small-12 column">
          <h3 id="presupuestos" data-magellan-target="presupuestos">
            2. Presupuestos Participativos
          </h3>
          <p>
            En esta sección se realizarán los procesos de Presupuestos Participativos, mediante los cuales se llevará  a cabo una priorización sobre aspectos determinados de sus presupuestos.  La finalidad de estos procesos es que la asignación de gasto del Ayuntamiento de Granada se haga teniendo en cuenta las prioridades manifestadas en un proceso participativo en el que se hayan oído previamente las opiniones, criterios y sensibilidades de la ciudadanía.
          </p>
        </div>
        <div class="small-12 text-center">
          <% if feature?("budgets") %>
            <%= link_to t("layouts.header.budgets"),
                                  budgets_path,
                                  title: t("shared.go_to_page") + t("layouts.header.budgets"),
                                  class: "button" %>
          <% end %>
        </div>
      </div>
      <div class="row section-content">
        <div class="small-12 column">
          <h3 id="proposicion" data-magellan-target="presupuestos">
            3. Proposición de políticas públicas
          </h3>
          <p>
            En esta sección se realizará los procesos de participación ciudadana en la proposición de políticas públicas y elaboración de normas. 
            <br>
            Los requisitos y procedimiento del proceso de participación ciudadana en la proposición de políticas públicas se determinarán reglamentariamente.
          </p>
        </div>
        <div class="small-12 text-center">
          <% if feature?("proposals") %>
            <%= link_to t("layouts.header.proposals"),
                                proposals_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
            <% if feature?("legislation") %>
              <%= link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
        </div>
      </div>
      <div class="row section-content">
        <div class="small-12 column">
          <h3 id="politicas_publicas" data-magellan-target="presupuestos">
            4. Seguimiento y evaluación de las políticas públicas
          </h3>
          <p>
            En este apartado se dará soporte a los procesos de  Participación ciudadana en el seguimiento y evaluación de las políticas públicas.Los mecanismos de participación directa en el seguimiento de las políticas públicas se establecerán reglamentariamente.
          </p>
        </div>
        <div class="small-12 text-center">
           <% if feature?("legislation") %>
              <%= link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
        </div>
      </div>
      <div class="row section-content">
        <div class="small-12 column">
          <h3 id="consultas" data-magellan-target="consultas">
            5. Consultas Populares
          </h3>
          <p>
            En esta sección se realizarán las Consultas Participativas. Estas consultas son el instrumento de participación ciudadana que tiene por objeto el conocimiento de la opinión de un determinado sector o colectivo de la población, mediante un sistema de votación de contenido no referendario, sobre asuntos de interés público que le afecten.
          </p>
        </div>
        <div class="small-12 column">
          <h4>
            5.1 Consultas Participativas
          </h4>
          <p>
            En esta sección se realizarán las Consultas Participativas. Estas consultas son el instrumento de participación ciudadana que tiene por objeto el conocimiento de la opinión de un determinado sector o colectivo de la población, mediante un sistema de votación de contenido no referendario, sobre asuntos de interés público que le afecten.
          </p>
        </div>
        <div class="small-12 text-center">
          <% if feature?("polls") %>
            <%= link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions"),
                                  class: "button" %>
          <% end %>
        </div>
        <div class="small-12 column">
          <h4>
            5.2 Encuestas
          </h4>
          <p>
            En esta sección el Ayuntamiento de Granada realizará encuestas, un procedimiento a través del cual se recoge la opinión de la ciudadanía sobre un asunto objeto de consulta, por medio de muestreos que deben estar diseñados para representar las opiniones de una población llevando a cabo una serie de preguntas y extrapolando generalidades en proporción o dentro de un intervalo de confianza.
          </p>
        </div>
        <div class="small-12 text-center">
          <% if feature?("polls") %>
            <%= link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions"),
                                  class: "button" %>
          <% end %>
        </div>
        <div class="small-12 column">
          <h4>
            5.3 Foros de participación
          </h4>
          <p>
            Grupos de ciudadanos o ciudadanas o representantes de entidades de participación ciudadana elegidos democráticamente mediante la publicación de la correspondiente convocatoria, que establecerá un plazo de presentación de solicitudes para participar en el correspondiente Foro.
          </p>
        </div>
        <div class="small-12 text-center">
          <% if feature?("polls") %>
            <%= link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions"),
                                  class: "button" %>
          <% end %>
        </div>
        <div class="small-12 column">
          <h4>
            5.4 Paneles Ciudadanos
          </h4>
          <p>
            En esta sección se dará soporte digital a los Paneles ciudadanos, que son grupos de personas o de representantes de entidades de participación ciudadana, seleccionados como muestra representativa de la sociedad que permiten obtener un interlocutor permanente de la ciudadanía para recabar de forma constante e inmediata información sobre cuestiones de interés para la gestión pública.
          </p>
        </div>
        <div class="small-12 text-center">
           <% if feature?("legislation") %>
              <%= link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
        </div>
        <div class="small-12 column">
          <h4>
            5.5 Jurados ciudadanos
          </h4>
          <p>
            Son grupos creados por la Administración pública que tienen como finalidad analizar los efectos de una determinada acción, proyecto o programa llevado a cabo por la misma.
          </p>
        </div>
        <div class="small-12 text-center">
           <% if feature?("legislation") %>
              <%= link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
        </div>
        <div class="small-12 column">
          <h4>
            5.6 Audiencias públicas
          </h4>
          <p>
            Son un instrumento de consulta en el que, mediante un procedimiento oral y público, las Administraciones públicas posibilitan a las personas, entidades, organizaciones y agentes sociales relacionados o directamente afectados por una política pública ser escuchados antes de adoptar una decisión sobre el asunto que les afecta.
          </p>
        </div>
        <div class="small-12 text-center">
           <% if feature?("legislation") %>
              <%= link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                title: t("shared.go_to_page") + t("layouts.header.proposals"),
                                class: "button" %>
            <% end %>
        </div>
      </div>

    </div>
    <!--div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/help/sidebar" %>
    </div-->
  </div>

</div>