<div id="header-img">
  <div class="row title-top-header">
    <div class="col-12">
      <h1>Participa, debate y decide la Granada que quieres</h1>
    </div>
  </div>
</div>

<div class="row margin-top">

<div class="small-12 medium-12 column m-50"></div>
      
<!--div class="call-action">
  <div class="row"> 
   <div class="small-12 medium-12 large-4 column">
      <a href="/proposals_law" class="call-action-block bg-image">
          <%= image_tag("banner_1.jpg") %>
          <h3 class="col-8">Procesos Participativos</h3>
      </a>
    </div>
    <div class="small-12 medium-12 large-4 column">
      <a href="<%= proposals_path %>" class="call-action-block bg-image">
          <%= image_tag("banner_2.jpg") %>
          <h3 class="col-8"><%= t("layouts.header.proposals") %></h3>
      </a>
    </div>
    <div class="small-12 medium-12 large-4 column">
      <a href="<%= debates_path %>" class="call-action-block bg-image">
          <%= image_tag("banner_3.jpg") %>
          <h3 class="col-8"><%= t("layouts.header.debates") %></h3>
      </a>
    </div>
  </div>
</div-->

<%
=begin
%>
<div class="small-12 medium-12 column m-50">
  <div class="row">
    <div class="small-12 medium-12 column text-center">
      <h3>¡Construye tu concejo con nosotr@s!</h3>
      <p>
        Granada ya es una ciudad participativa. Sus habitantes debaten sobre los temas de interés; sus ideas se convierten en propuestas para la mejora de la calidad de vida en su ciudad; sus propuestas son, al final, parte de las decisiones de gobierno.
      </p>
    </div>
  </div>
</div>
<%
=end
%>