<div id="header-img">
  <div class="row title-top-header">
    <div class="col-12">
      <h1>Participa, debate y decide la GRANADA que quieres</h1>
    </div>
  </div>
</div>

<div class="row margin-top">

<div class="small-12 medium-12 column"></div>
      
<div class="call-action">
  <div class="row"> 
    <div class="small-12 medium-12 large-12 column">
      <span class="call-action-main-title">¿Cómo participar?</span>
    </div>
    <!--div class="small-12 medium-12 large-6 column">
      <div class="call-action-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SS0av44hZXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div-->
    <div class="small-12 medium-12 large-6 column">
       <%= link_to "/como_participar", class: "call-action-block bg-image" do %> 
          <%= image_tag("banner_2.jpg") %>
          <h3 class="col-8">¿Cómo participar?</h3>
      <% end %>
    </div>
    <div class="small-12 medium-12 large-6 column">
       <%= link_to "/agenda_participativa", class: "call-action-block bg-image" do %> 
          <%= image_tag("banner_3.jpg") %>
          <h3 class="col-8"><%= t("layouts.header.participatory_agenda") %></h3>
      <% end %>
    </div>
  </div>
</div>

<%
=begin
%>
<div class="small-12 medium-12 column m-50">
  <div class="row">
    <div class="small-12 medium-12 column text-center">
      <h3>¡Construye tu concejo con nosotr@s!</h3>
      <p>
        Granada ya es una ciudad participativa. Sus habitantes debaten sobre los temas de interés; sus ideas se convierten en propuestas para la mejora de la calidad de vida en su ciudad; sus propuestas son, al final, parte de las decisiones de gobierno.
      </p>
    </div>
  </div>
</div>
<%
=end
%>