<div class="small-12 medium-9 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <li>
      <%= layout_menu_link_to "Inicio",
                                root_path,
                                current_page?(""),
                                accesskey: "0",
                                title: "Ir a Inicio" %>
    </li>
    <li>
      <%= layout_menu_link_to "Iniciativas Ciudadanas",
                              proposals_path,
                              current_page?(""),
                              accesskey: "1",
                              title: "Ir a Iniciativas ciudadanas" %>
    </li>
    <li class="parent">
      <%= layout_menu_link_to "Procesos participativos",
                              "#",
                              current_page?(""),
                              title: "" %>
      <!-- Submenú -->
      <ul>
        <li>
          <%= layout_menu_link_to "Votaciones populares",
                                  polls_path,
                                  current_page?(""),
                                  accesskey: "2",
                                  title: "Ir a Votaciones populares" %>
        </li>
        <li>
          <%= layout_menu_link_to "Presupuestos participativos",
                                  budgets_path,
                                  current_page?(""),
                                  accesskey: "3",
                                  title: "Ir a Presupuestos participativos" %>
        </li>
        <li>
          <%= layout_menu_link_to "Debates públicos",
                                  legislation_processes_path,
                                  current_page?(""),
                                  accesskey: "4",
                                  title: "Ir a Debates públicos" %>
        </li>
      </ul>
      <!-- End Submenú -->
    </li>
    <li>
      <%= layout_menu_link_to "Órganos de participación",
                              "/organos_de_participacion",
                              current_page?(""),
                              accesskey: "5",
                              title: "Ir a Órganos de participación" %>
    </li>


    <!--
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == "debates",
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.debates") %>
      </li>
    <% end %>
    <% if feature?(:proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller.class == ProposalsController,
                                accesskey: "2",
                                title: t("shared.go_to_page") + t("layouts.header.proposals") %>
      </li>
    <% end %>
    <% if feature?(:polls) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                  accesskey: "3",
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
      </li>
    <% end %>
    <% if feature?(:legislation) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "4" %>
      </li>
    <% end %>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  spending_proposals_path,
                                  controller_name == "spending_proposals",
                                  accesskey: "s" %>
      </li>
    <% end %>
    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_path,
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "5",
                                  title: t("shared.go_to_page") + t("layouts.header.budgets") %>
      </li>
    <% end %>
      <li class="info-link">
        <a href="/propoals_law"> 
          <span class="icon-help  icon-subnavigation" aria-hidden="true"></span>
          Información de los Procesos
        </a>
      </li>
     -->
      

    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "6",
                                title: t("shared.go_to_page") + t("layouts.header.help") %>
      </li>
    <% end %>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
<script>
  $(".subnavigation ul li.parent").on("click", function(event){
    event.preventDefault();
    if( $( this ).hasClass("is-active") ){
      $( this ).removeClass("is-active");
    }else{
      $( this ).addClass("is-active");
    }
  });
</script>
