<div class="row section-content">
  <div class="small-12 column">
    <h3 id="register" data-magellan-target="register">
      Registro
    </h3>
    <p>
      Para poder participar en Granada Decide deberás registrarte en la aplicación.
    </p>
    <p>
      Para ello, utiliza el botón "Registrarse" que encontrarás en la parte superior derecha de la página.
      <%= image_tag("help/register_button.png", class: "d-block", alt: "") %>
    </p>
    <p>
      A continuación se solicitará tu nombre de usuario, correo electrónico y contraseña.
      <%= image_tag("help/register_form.png", class: "d-block", alt: "") %>
    </p>
    <p>
      Acepta las condiciones de uso marcando la casilla:
      <%= image_tag("help/register_conditions.png", class: "d-block", alt: "") %>
    </p>
    <p>
      Puedes consultar las condiciones de uso en el pie de página, en el enlace: "Condiciones de uso".
      <%= image_tag("help/register_conditions_footer.png", class: "d-block", alt: "") %>
    </p>
    <p>
      Lee el Aviso de Protección de Datos.
      <%= image_tag("help/register_rgpd.png", class: "d-block", alt: "") %>
    </p>
    <p>
      Puedes consultar la Política de Privacidad en el pie de página, en el enlace: "Política de Privacidad":
      <%= image_tag("help/register_rgpd_footer.png", class: "d-block", alt: "") %>
    </p>
  </div>
</div>